//if else 문법 사용해서 말줄임만들기
@mixin ellipsis($line: 1) {
    //line 이라는 인자를 주고,
    //적용할 클래스에 mixin inclue시 별도의 인자를 선언해주지 않으면 기본적으로 1로 들어감
    @if($line == 1){
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}