/* Import SCSS Files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
header {
  background-color: yellowgreen;
}

footer {
  background-color: crimson;
  text-align: center;
}

* {
  font-family: "Raleway";
}