@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat';
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

a {
    text-decoration: none;
}

/* Button Hover Effect -> css에 컴파일 되는 주석*/
// Button Hover Effect -> css에 컴파일되지 않는 주석
.btn-wrap {
    .btn {
        color: #fff;
        text-transform: uppercase;
        width: 300px;
        border: 1px solid #fff;
        display: block;
        text-align: center;
        height: 50px;
        line-height: 50px;
        transition: 0.5s;
        position: relative;
        // 부모요소에 가상요소를 쓸 때는 항상 &를 써야함
        &:hover {
            background-color: transparent;
            border: none;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            border: 1px solid #fff;
            opacity: 0;
            transition: 0.5s;
        }
        &:hover::before{
            transform: rotate(45deg);
            opacity: 1;
        }
        &:hover::after{
            transform: rotate(-45deg);
            opacity: 1;
        }
    }
}

/** 부모선택자 참조의 응용 
    클래스네임에 중복되는 요소들을 &로 대체해서 사용할 수 있음
*/
.btn {
    &-big {
        font-size: 60px;
        color: crimson;
        text-transform: uppercase;
    }
    &-medium {
        font-size: 40px;
        color: palegreen;
        text-transform: uppercase;
    }
    &-small {
        font-size: 20px;
        color: paleturquoise;
        text-transform: uppercase;
    }
}
