@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat';
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
}

.popup_content {
    width: 500px;
    height: 700px;
    position: relative;
    background-color: #D8BFD8;
    .top_img_wrap {
        width: 400px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1d1160;
    }
    a {
        display: block;
        width: 300px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #E6E6FA;
    }
    .alert {
        width: 200px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1d1160;
    }
    .txt_wrap {
        width: 200px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1d1160;
    }
    .photo_wrap {
        width: 200px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #720e9e;
    }
}
// nesting(중첩)을 쓰는 이유 -> 부모요소의 클래스명이 바꼈을 때 scss에서 최상위 부모만 변경해 주면 되기 때문에 수정이 용이함.