@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
body {
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.popup_content {
  width: 500px;
  height: 700px;
  position: relative;
  background-color: #D8BFD8;
}
.popup_content .top_img_wrap {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d1160;
}
.popup_content a {
  display: block;
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E6E6FA;
}
.popup_content .alert {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d1160;
}
.popup_content .txt_wrap {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d1160;
}
.popup_content .photo_wrap {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #720e9e;
}