@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*{
    font-family: 'Raleway';
}
body{
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}


    // %를 쓰는 이유
    // .shape { ~ }
    // @extend .shape; 로 사용하게 되면
    // shape 라는 클래스가 존재하지 않음에도 불구하고 .shape로 컴파일이 되어짐
    // css를 보다 깔끔하고 가독성있게 사용하기 위해서 플레이스 홀더 선택자 %를 사용하는것

%shape {
    border: 1px solid #000;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.212);
}
.card {
    display: flex;
    gap: 20px;
    &-item {
        @extend %shape;
    }
}