@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
    font: {
        family: 'Montserrat';
        size: 18px;
        weight: 500;
    }
    line-height: 1.5;
}

.portfolio p {
    text: {
        align: center;
        transform: uppercase;
        overflow: hidden;
        decoration: underline;
    }
}

.box {
    width: 100px;
    height: 100px;
    border: {
        top: 1px solid purple
        {
            left-radius: 3px;
            right-radius: 16px;
        }
        bottom: 1px solid green
        {
            left-radius: 16px;
            right-radius: 3px;
        }
        left: 1px solid red;
        right: 1px solid blue;
    };
}

/*활용도는 높지 않겠지만 문법적으로는 익숙하게 만들기*/
