@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Raleway";
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Copy Selector Style with @extend */
.btn, .checkout, .add, .order {
  width: 200px;
  padding: 7px;
  background-color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.order {
  background-color: purple;
  color: #fff;
}

.add {
  background-color: yellowgreen;
}

.checkout {
  color: #000;
  border: 1px solid #000;
}