@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

.frame {
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
}
.heading {
  font-size: 36px;
  color: crimson;
  font-weight: normal;
}