//mixin 선언이 먼저 되고 import되어야 함 -> 순서가 바뀌면 선언하지 않고 사용하는것과 같음!
@mixin default {
    font-family: 'Raleway';
    font-size: 15px;
    margin: 0;
    color: #333;
    background-color: #fff;
    line-height: 1.6em;
}

@mixin headline {
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    position: relative;
    span {
        color: royalblue;
    };
    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: crimson;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }   
}

//color variables
$complete-btn: skyblue;
$loading-btn: yellowgreen;
$error-btn: crimson;
$text-color: #fff;

@mixin notice-button {
    font-size: 15px;
    width: 120px;
    padding: 7px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.35s;
    &.complete:hover {
        background-color: $complete-btn;
        color: $text-color;
    }
    &.loading:hover {
        background-color: $loading-btn;
        color: $text-color;
    }
    &.error:hover {
        background-color: $error-btn;
        color: $text-color;
    }
}

/* mixin 인자사용 */
@mixin use-value($name, $path: "../../images/", $format: "png") {
    background: url("#{$path}#{$name}.#{$format}") no-repeat center center / cover;
}